<!-- article.html - содержит только содержимое публикаций -->

{% load static %}

{% for publication in publications %}
    <div class="article-wrapper">
        <div class="article">
            <!-- image -->
            {% if publication.image %}
            <div class="image-frame">
                <img src="{{ publication.image.url }}" alt="{{ publication.title }}">
            </div>
            {% endif %}
            
            <!-- title -->
            <div class="title">
                <h1>{{ publication.title }}</h1>
            </div>

            <!-- content -->
            <div class="content">
                <p>{{ publication.content|truncatewords:150 }}</p> <!-- Ограничиваем количество слов -->
            </div>

            <!-- publish date -->
            <div class="publish_date">
                <p>{{ publication.publish_date }}</p>
            </div>
            
            <!-- read now button -->
            <div class="button-group">
                <a href="{% url 'read_publication' publication.id %}" class="btn">READ NOW</a>
            </div>
        </div>
    </div>
{% endfor %}