<!-- article.html - содержит только содержимое публикаций -->

{% load static %} <!-- Загружаем тег static -->

{% for publication in publications %}
    <div class="article-wrapper">
        <div class="article">
            <!-- image -->
            {% if publication.image %}
            <div class="image-frame">
                <img src="{{ publication.image.url }}" alt="{{ publication.title }}">
            </div>
            {% endif %}
            
            <!-- title -->
            <div class="title">
                <h1>{{ publication.title }}</h1>
            </div>

            <!-- content -->
            <div class="content">
                <p>{{ publication.content }}</p>
            </div>

            <!-- publish date -->
            <div class="publish_date">
                <p>{{ publication.publish_date }}</p>
            </div>
        </div>
    </div>
{% endfor %}
