{% load static %}
<div class="footer-block">
    <div class="about-us">
        <img class="node_icon" src="{% static 'vectors/node_icon.svg' %}" alt="node icon">
        <p>The attractive world of fashion and style</p>
        <p>Discover the source of inspiration for creating a unique look</p>
        <p>Fashion tips, trends, collection reviews, styling articles, style guides, interviews with fashion icons, stylish collections and much more</p>
        <p>Stay up to date with the latest trends and create your own unique look!</p>
        <p>Join us! Follow the updates, experiment and be stylish!</p>

        <div class="join_now_button">
            <a href="{% url 'selection_page' %}" class="btn">JOIN NOW</a>
        </div>

        <div class="continuous-scroll">
            <div class="scroll-track">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/brunello_cucinelli_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/bulgari_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/chanel_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/dior_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/gucci_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/hermes_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/jil_sander_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/mcqueen_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/patek_philippe_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/ralph_lauren_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/toteme_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/van_cleef_logo.svg' %}">

                <img class="brand_logo" src="{% static 'vectors/brands_logos/yves_saint_laurent_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/tom_ford_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/celine_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/loewe_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/maison_margiela_logo.svg' %}">
                <!-- Повторяем логотипы для непрерывного эффекта -->
                <img class="brand_logo" src="{% static 'vectors/brands_logos/brunello_cucinelli_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/bulgari_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/chanel_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/dior_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/gucci_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/hermes_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/jil_sander_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/mcqueen_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/patek_philippe_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/ralph_lauren_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/toteme_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/van_cleef_logo.svg' %}">

                <img class="brand_logo" src="{% static 'vectors/brands_logos/yves_saint_laurent_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/tom_ford_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/celine_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/loewe_logo.svg' %}">
                <img class="brand_logo" src="{% static 'vectors/brands_logos/maison_margiela_logo.svg' %}">
            </div>
        </div>
    </div>

    <div class="post-footer">
        <h1>PRESERVING LEGACY, EMPOWERING FUTURE: SUSTAINABLE LUXURY FOR THE DISCERNING</h1>
        <p>Join our community, connect with like-minded individuals who share our passion for sustainable luxury.</p>
        <p2>©2024 The Real Style Blog, Inc</p2>
    </div>
</div>
