/* Центрирование .article с использованием flexbox */
.article-wrapper {
    display: flex;
    justify-content:flex-start; /* Центрирование по горизонтали */

    margin-top: 100px;
    
}

.article {
    /* Убираем фиксированные отступы, так как центрирование будет осуществляться flexbox */
    margin-left: 300px;
    margin-right: 150px;
}


/* image */
.image-frame {
    position: relative; /* Добавьте position: relative */
    width: 100%;
    height: 200px; 
    overflow: hidden; /* Скрывает части изображения, которые не помещаются в блок */
    display: flex; /* Переводит блок в режим flexbox, позволяя центрировать элементы внутри него */
    align-items: center; /* Центрирует элементы по вертикальной оси */
    justify-content: center; /* Центрирует элементы по горизонтальной оси */
}
.image-frame img {
    width: 100%; /* Заставляет изображение занимать всю ширину блока */
    height: 100%; /* Заставляет изображение занимать всю высоту блока */
    object-fit: cover; /* Растягивает изображение до тех пор, пока оно не заполнит все доступное пространство, сохраняя при этом его пропорции. */

    transition: transform 1s ease; /* Добавляем transition для плавного изменения */
}
.image-frame:hover img {
    transform: scale(1.1); /* Увеличиваем масштаб при наведении только для изображения */
}
.image-frame::after,
.image-frame::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-frame::after {
    background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%); /* Градиент от белого к прозрачному */
    mix-blend-mode: hard-light;
}
.image-frame::before {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, transparent 100%); /* Градиент для верхнего слоя */
    mix-blend-mode: normal;
}



/* шрифт - Marcellus*/
/* Regular 400 */
.article .title h1 {
    /* шрифт */
    font-family: "Marcellus", sans-serif;
    font-size: 24px;
    font-weight: 400; /* Regular */
    margin-top: 10px;
    position: relative; /* Необходимо для псевдоэлемента ::after */

    transition: color 0.3s ease; /* Добавляем transition для плавного изменения цвета текста */
}
.article .title h1:hover {
    color: #888888; /* Устанавливаем серый цвет текста при наведении */
}
.article .title h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #888888, transparent);
    margin-top: 5px;
}
.article .title h1::after {
    animation: moveGradient 3s ease-in-out infinite;
}



.article .content p {
    /* шрифт */
    font-family: "Athiti", sans-serif;
    font-size: 16px;
    font-weight: 400; /* Regular */

    /* отступ сверху и снизу */
    margin-top: 10px;
    margin-bottom: 10px;

}
.article .publish_date p {
    /* шрифт */
    font-family: "Athiti", sans-serif;
    font-size: 13px;
    font-weight: 400; /* Regular */
}



/* цвет выделения текста на черный при выделении пользователем */
::selection {
    background-color: #000000; /* Устанавливаем черный цвет фона для выделения */
    color: #ffffff; /* Устанавливаем белый цвет текста в выделенной области */
}